.header {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-top: 20px;
    background: #FFF;
    font-family: "Inter", sans-serif;
}
/* Somente pra dar espaço entre o título e descrição */
.title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-title {
    font-size: 32px;
    font-weight: 700;
    color: #111827;
    line-height: 1.2;
}

.header-description {
    font-size: 16px;
    font-weight: 400;
    color: #64748B;
}

.icons {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 10px;
} 

.top-icons {
    display: flex;
    gap: 50px;

    color: #475569;
    cursor: pointer;
}

.new-product-button {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: #6D28D9;
    color: white;

    padding: 14px 24px;

    border-radius: 8px;

    border: none;

    font-size: 16px;
    font-weight: 600;

    box-shadow: 0 4px 12px rgba(109, 40, 217, 0.25);
    cursor: pointer;
}

.new-product-button:hover {
    background-color: #5B21B6;
}

