.main {
    display: flex;
    min-height: 100vh;
}
.side-bar {
    display: flex;
    flex-direction: column;
    
    width: 250px;
    min-height: 100vh;
    
    background-color: #111827;
    color: #fff;

    padding: 24px 16px;
}
.content {
  flex-grow: 1;
  padding: 20px;
}